<%- include('partials/header.ejs') %>

  <style>
    
    .contain {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      margin: auto;
      margin-top: 40px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
    input[type="submit"] {
      width: 100%;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
    <div class="out-contai">
        <div class="contain">
            <h2>Sign In as Docter</h2>
            <form action="/doc-folio" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
              </div>
              <input type="submit" value="Sign In">
            </form>
          </div>
    </div>
 


  <%- include('partials/footer.ejs') %>
