<%- include('partials/header.ejs') %>


<div class="login">

    <div class="login-in">
        <h1 class="docting">Login As</h1>
        <br> 
        <button class="btn btn-primary log" ><a href="/doct">Doctor</a></button>
        <br> <br>
        <button class="btn btn-primary log"><a href="/pat">Patient</a></button>

    </div>

</div>



<%- include('partials/footer.ejs') %>